/* Common elements */

body {
	line-height: 1.5;
	font-size: 16px;
	font-family: sans-serif;
	color: #010101;
	background-color: #edebe7;
}

h1,
h2
{
	font-weight: bold;
	color: #ff0000;
}

h1 {
	margin-bottom: 15px;
	font-size: 28px;
}

h2 {
	margin-bottom: 10px;
	font-size: 18px;
}

p {
	margin-bottom: 15px;
}

a {
	color: #ff0000;
}

/* Input elements */

input,
a.button
{
	display: inline-block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: inherit;
	padding: 0 10px;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

input[type="email"],
input[type="password"]
{
	border-color: #808080;
}

input[type="submit"],
a.button
{
	font-weight: bold;
	text-align: center;
	color: #ff0000;
	border-color: #ff0000;
	background-color: transparent;
	cursor: pointer;
}

input[type="submit"]{
	color: #ffffff;
	background-color: #ff0000;
}

input[disabled] {
	opacity: 0.5;
	cursor: default;
}


/* Forms */

.form_item {
	margin-bottom: 15px;
}

.form_item label {
	display: block;
	margin-bottom: 5px;
}

.form_item input.ng-touched.ng-invalid {
	border-color: #ab433f;
}

.form_item input.ng-touched.ng-valid {
	border-color: #3a773a;
}

.form_item .error {
	font-size: 14px;
	color: #ab433f;
}


/* Login page */

.container {
	margin: 15px;
}

@media screen and (min-width: 600px) {
	.container {
		margin-left: 25px;
		margin-right: 25px;
	}

	.container:after {
		content: "";
		display: block;
		clear: both;
	}

	.container .section {
		width: 50%;
		box-sizing: border-box;
	}

	.container .section.login {
		float: right;
		padding-left: 25px;
		border-left: 1px solid #808080;
		margin-left: -1px;
		margin-right: 1px;
	}

	.container .section.register {
		float: left;
		padding-right: 25px;
		border-right: 1px solid #808080;
	}

	.container .inputs,
	.container .text
	{
		min-height: 200px;
	}
}

@media screen and (min-width: 850px) {
	.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}