<!DOCTYPE HTML>
<html ng-app="test">
	<head>
		<title>Mobiquity challenge</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/styles.css" />
		
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>

	<body ng-controller="Login as login">

		<div class="container">
			<h1>Login</h1>

			<!-- Login -->
			<form class="section login" ng-submit="login.submit()" name="credentials" novalidate>
				<h2>I already have a profile</h2>

				<!-- Inputs -->
				<div class="inputs">
					<div class="form_item email">	
						<label>E-mail address:</label>
						<input type="email" placeholder="E-mail address" name="email" ng-model="login.user.email" required />
						<span class="error" ng-if="credentials.email.$touched && credentials.email.$error.required">
							Please enter your e-mail.
						</span> 
						<span class="error" ng-if="credentials.email.$touched && credentials.email.$error.email">
							The e-mail you've entered is incorrect.
						</span> 
					</div>

					<div class="form_item password">
						<label>Password:</label>
						<input type="password" placeholder="Password" name="password" ng-model="login.user.password" required />
						<span class="error" ng-if="credentials.password.$touched && credentials.password.$error.required">
							Please enter your password.
						</span> 
					</div>
				</div>
				<!-- /Inputs -->
				
				<div class="form_item">
					<input type="submit" value="Log in" ng-disabled="credentials.$invalid" />
				</div>
			</form>
			<!-- /Login -->

			<!-- Register -->
			<div class="section register">
				<h2>Create a profile</h2>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate sapien et enim mattis egestas.</p>
					<p>Nullam nec nisi et quam egestas porttitor. Vestibulum auctor lorem at turpis mattis sodales.</p>
				</div>
				<a href="/register" class="button">Register</a>
			</div>
			<!-- /Register -->
		</div>

	</body>
</html>